@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.Container__LeftContent {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Container__Input {
  padding: 3px 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.Message__input {
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
}
.Message__button {
  margin-left: 10px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  line-height: normal;
}

.Message__button:before {
  content: "\f197";
  font-family: FontAwesome;
  font-size: 25px;
}
.Baground {
  background-image: url("../img/message__fon.jpg");
  background-repeat: repeat;
  min-height: 100%;
  min-height: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.Container__Message {
  background-color: #e0e0e0;
  height: 100%;
  overflow: auto;
}
.My {
  display: flex;
  justify-content: flex-end;
}

.Message {
  padding: 5px 0;
}
.Message__Text {
  background-color: white;
  border-radius: 20px;
  padding: 10px 15px;
  width: max-content;
}
.Message__Text p {
  margin-bottom: 0;
}
.Message__Auth {
  padding-top: 5px;
  font-size: 10px;
  text-align: end;
}
.Users {
  display: flex;
  justify-content: space-between;
}
.Users p,
.Users ul {
  margin-bottom: 0;
}

.Users ul {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.Users li {
  padding-left: 5px;
}
.humburger{
  width: 50px;
  height: 50px;
}
.humburger div{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.humburger .close::before{
  position: absolute;
  font-family: FontAwesome;
  content: "\f00d";
  font-size: 30px;
  right: 0;
  top: 5px;
  cursor: pointer;
  text-align: center;
}

.humburger .open::before{
  position: absolute;
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 30px;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
}
